body {
    text-align: center;
    background-color: #dedede;
}

.hidden {
    display: none;
}

canvas {
    border: solid 2px #191716;
    border-radius: 10px;
}

.level-code-container, #loading {
    color: #191716;
}