body {
    text-align: center;
    background-color: #dedede;
}

.hidden {
    display: none;
}

canvas {
    border: solid 2px #e2e2e2;
    border-radius: 10px;
}

.level-code-container, #loading {
    color: #a5a5a5;
}