input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a:focus {
    text-decoration: none !important;
    outline: none !important;
}

.menu {
    margin: auto;
    width: 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 119px;
    margin-top: 0;
    color: white;
    font-family: fantasy;
    margin-bottom: 0;
    text-shadow: -1px 0 #b5b5b5, 0 1px #b5b5b5, 1px 0 #b5b5b5, 0 -1px #b5b5b5;
}

.choose-level {
    font-size: 20px;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitle {
    color: black;
    position: absolute;
    top: 136px;
}

.menu-items {
    margin-top: 10px;
}

.level-link,
.level-link:focus
 {
    color: #ffff27;
    font-size: 40px;
    font-family: fantasy;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu-item {
    padding-left: 10px;
    /* text-align: center; */
}

.menu-item:hover {
    /* background-color: blue; */
}

.level-code-input {
    width: 95px;
    position: relative;
    top: -5px;

    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px;

    padding-left: 7px;
}

.level-from-code-arrow {
    font-size: 23px;
    padding-bottom: 6px;
    position: relative;
    top: -3px;
}

.level-link:hover {
    text-decoration: none;
    color: #aba257;
}

.controls {
    color: white;
    text-shadow: -1px 0 #b5b5b5, 0 1px #b5b5b5, 1px 0 #b5b5b5, 0 -1px #b5b5b5;
}